* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* padding */
  --pd-small: 0.5rem;
  --pd-medium: 1.5rem;

  /* colors */
  --light-blue: #37aaad;
  --white: #ffffff;
  --offwhite: #eff2f5;
  --light-gray: #eff2f5;
  --light-gray002: #adbecd;
  --light-gray003: #d2dce4;
  --light-gray004: #899dae;
  --dark-gray: #424c52;
  --dark-gray002: #424c52;
  --dark-gray003: #5a6b77;
  --accent: #ff7077;
}

/* Disable double-tap zoom on mobile */
button {
  touch-action: manipulation;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme__switch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: var(--pd-medium);
  width: 100%;
  background-color: var(--light-blue);
}

.box {
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.themes {
  display: flex;
  overflow: hidden;
  height: 0;
  width: 100%;
  align-items: center;
  transition: 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946) height;
}

.themes--open {
  display: flex;
  height: 15rem;
}

.theme__card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-blue);
}

.theme__preview {
  overflow: hidden;
  width: 50%;
  padding: var(--pd-small) 0;
}

.theme__preview img {
  border-radius: 10px;
  display: block;
  width: 100%;
  object-fit: cover;
}

.container {
  background-color: var(--light-gray);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 19.5rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.calculator__screen {
  text-align: right;
  background: var(--dark-gray);
  color: var(--white);
  font-size: 4rem;
  padding: 2rem 1.25rem 0 1.25rem;
}

.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  background: var(--light-gray002);
}

.calculator__key,
.calculator__key--operator,
.calculator__key--equals {
  width: 78px;
  height: 78px;
  border: none;
  padding: var(--pd-small);
  font-size: 1.5rem;
  background: var(--offwhite);
}

.calculator__key--equals {
  grid-column: 4 / 5;
  grid-row: 2 / span 4;
  height: auto;
}

.calculator__key:active {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
}

.calculator__key--operator {
  background: var(--light-gray003);
}

/* Round buttons */
.calculator__key.round__key,
.calculator__key--operator.round__key,
.calculator__key--equals.round__key {
  width: 65px;
  height: 65px;
}

.calculator__key--equals.round__key {
  height: auto;
}

.round__calculator {
  color: var(--dark-gray);
}

.round__screen {
  background: var(--white);
  color: var(--dark-gray002);
}

.round__key {
  border-radius: 40px;
  margin: 0.25rem;
}

.round__keys {
  padding: var(--pd-small);
  background: var(--white);
}

/* Round buttons dark mode*/
.round__calculator--dark {
  background-color: var(--light-gray004);
}

.round__keys--dark {
  background: var(--light-gray004);
}

.round__key--dark {
  background: var(--dark-gray003);
  color: var(--white);
}

/* Minimal calculator */
.minimal__screen {
  background: var(--white);
}

.minimal__key {
  background: var(--white);
}

.minimal__operator {
  background: var(--light-gray);
}

/* Dark Minimal Calculator */
.minimal__screen--dark {
  color: var(--white);
  background: var(--dark-gray003);
}

.minimal__key--operator {
  color: var(--white);
  background: var(--light-gray004);
}

.minimal__key--dark {
  color: var(--white);
  background: var(--dark-gray003);
}

.calculator__key--equals {
  background: var(--accent);
}

.is-pressed {
  background-color: orange;
}

.is-pressed:active {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
}

@media screen and (max-width: 640px) {
  body {
    background-color: var(--light-gray);
  }

  .themes {
    flex-wrap: wrap;
  }

  .themes--open {
    margin-bottom: 2rem;
    height: 50%;
  }

  .theme__card {
    width: 50%;
    height: 50%;
  }
}
